/* #region Defaults */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  --black: #383d3bff;
  --white: #eee5e9ff;
  --primary: #92dce5ff;
  --secondary: #7c7c7cff;
  --accent: #74D3AE;
  --accent-hover: hsl(157, 52%, 44%);

  --ff-head: 'Lato', sans-serif;
  --ff-body: 'Roboto', sans-serif;

  --step--2: clamp(0.78rem, calc(0.73rem + 0.26vw), 0.96rem);
  --step--1: clamp(0.94rem, calc(0.86rem + 0.38vw), 1.20rem);
  --step-0: clamp(1.13rem, calc(1.02rem + 0.54vw), 1.50rem);
  --step-1: clamp(1.35rem, calc(1.20rem + 0.75vw), 1.88rem);
  --step-2: clamp(1.62rem, calc(1.41rem + 1.03vw), 2.34rem);
  --step-3: clamp(1.94rem, calc(1.66rem + 1.41vw), 2.93rem);
  --step-4: clamp(2.33rem, calc(1.95rem + 1.90vw), 3.66rem);
  --step-5: clamp(2.80rem, calc(2.29rem + 2.54vw), 4.58rem);
}

*, *::before, *::after {box-sizing: inherit;}

body,h1,h2,h3,h4,h5,h6,p {margin: 0;}

h1,h2,h3,h4,h5,h6,a {font-family: var(--ff-head);}

p,ul,ol {font-family: var(--ff-body);}

body {
  width: inherit;
  height: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #0c1022;
  color: #fff;
}
/* #endregion Defaults */


/* #region Index Page */

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  pointer-events: none;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  transition: transform 0.3s ease;
  cursor: default;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  display: inline-block;
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a.active,
.navbar a:hover {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
}

.home {
  position:relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  padding: 0 10%;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
  margin-left: -30px;
}

/* .home-content h1 {
  font-size: clamp(1.63rem, calc(0.97rem + 3.26vw), 3.50rem);
  font-weight: 700;
  line-height: 1.5;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: .7s;
} */

/* .home-content h3 {
  font-size: clamp(1.50rem, calc(1.33rem + 0.87vw), 2.00rem);
  font-weight: 700;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
} */

/* another style */
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 30px;
}
.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: .7s;
}

.home-content p {
  font-size: clamp(0.88rem, calc(0.83rem + 0.22vw), 1.00rem);
  margin: 20px 0 40px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.3s;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: clamp(7.50rem, calc(6.20rem + 6.52vw), 11.25rem);
  height: clamp(1.88rem, calc(1.48rem + 1.96vw), 3.00rem);
  font-size: clamp(0.94rem, calc(0.85rem + 0.43vw), 1.19rem);
  border-radius: 40px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.8s;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06,#3cf , #f06);
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
  transition: .5s ease;
}

.btn:hover::before  {
  background-position: 100% 0;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06,#3cf , #f06);
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  transition: .5s ease;
}

.btn:hover::after {
  background-position: 100% 0;
}

.home-sci a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #f06, #3cf);
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
  z-index: 1;
}

.home-sci a:nth-child(1) {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1.5s;
  
}

.home-sci a:nth-child(2) {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.5s;
  
}

.home-sci a:nth-child(3) {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.5s;
  
}

.home-sci a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #f06, #3cf);
  border-radius: 50%;
  z-index: -1;
  transition: .5s ease;
}

.home-sci a:hover::before {
  filter: blur(5px);
}

.home-sci a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c1022;
  border-radius: 50%;
  transform: scale(.88);
  z-index: -1;
  transition: .5s ease;
}

.home-sci a:hover::after {
  transform: scale(0);
}

.home-img {
  width: clamp(13.75rem, calc(9.62rem + 20.65vw), 25.63rem);
  height: clamp(13.75rem, calc(9.62rem + 20.65vw), 25.63rem);
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 1.5s, 2.1s;
}

.home-img .glowing-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center ;
}


.home-img .glowing-circle::after {
  content: '';
  position: absolute;
  width: clamp(12.50rem, calc(8.59rem + 19.57vw), 23.75rem);
  height: clamp(12.50rem, calc(8.59rem + 19.57vw), 23.75rem);
  background: #0c1022;
  border-radius: 100vmax;;
}

.glowing-circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f06, #3cf);
  border-radius: 100vmax;;
  animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1) {
  filter: blur(10px);
}

.glowing-circle .image {
  position: relative;
  width: clamp(12.50rem, calc(8.59rem + 19.57vw), 23.75rem);
  height: clamp(12.50rem, calc(8.59rem + 19.57vw), 23.75rem);
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.image img {
  position: absolute;
  left: 47%;
  right: 10%;
  bottom: 1px;
  transform: translateX(-50%);
  height: clamp(17.50rem, calc(14.89rem + 13.04vw), 25.00rem);
  width: clamp(17.50rem, calc(14.89rem + 13.04vw), 25.00rem);
  object-fit: cover;
}
/* #endregion Index Page */


/* #region About Page */
about.html {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(45deg, #f06, #3cf);
}

.about_container {
  width: 100%;
  padding: 50px 8%;
  opacity: 0; /* Add initial opacity */
  transform: translateY(-50px); /* Add initial transform */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition properties */
}

.about_container.show {
  opacity: 1; /* Change opacity to 1 when showing */
  transform: translateY(0); /* Change transform to 0 when showing */
}

/* Add the following CSS code to your existing styles */

.about_container.show {
  opacity: 1;
  transform: translateY(0);
}

/* Add transition and transform properties to all elements */
.about_container * {
  transition: all 0.3s ease;
}

.imageSection:hover {
  transform: scale(1.2);
}


.imageSection {
  grid-area: imageSect;
}

.infoSection{
  grid-area: infoSect;
}

.skillSection{
  grid-area: skillSect;
}

.about_container .about_content {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 70px;
  grid-template-areas: "imageSect infoSect"
                       "skillSect skillSect";
}

.about_content .imageSection {
  display: flex;
  min-width: 300px;
  height: 380px;
}

.imageSection img {
  width: 100%; 
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 2;
}


.about_content .imageSection::after {
  position: absolute;
  content: '';
  width: auto;
  height: auto;

  top: 15px;
  left: 15px;
  z-index: 1;
}

.infoSection h1 {
  color: #dedce1;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
}

.infoSection h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 110%;
  left: 0;
  background-color: #aaabb0;
}

.infoSection h1::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 3px;
  top: calc(110% - 1px);
  left: 0px;  
  background-color: #787cb5;
}

.infoSection h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #787cb5;
  padding: 14px 0px 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.infoSection p {
  color: #aaabb9;
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;
  padding-bottom: 8px;
}

.personalInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 20px;
  margin-top: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}

.personalInfo div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.personalInfo div span {
  color: #aaabb0;
  letter-spacing: 1px;
}

.infoSection .btn-2 {
  min-width: 150px;
  padding: 8px 18px;
  border: 1px solid #787cb5;
  border-radius: 25px;
  font-size: 18px;
  background-color: #2b2a2f;
  color: #aaabb0;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 20px;
}

.infoSection .btn-2:hover {
  color: #787cb5;
  border-color: linear-gradient(45deg, #f06, #3cf);;
  cursor: grab;
}

.skillSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 80px;
}

.skillSection .subject {
  font-size: 17px;
  font-weight: thin;
  color: #aaabb6;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.progress_bar {
  width: 100%;
  height: 16px;
  background-color: #2b2a2f;
  padding: 4px 6px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #444;
  border-radius: 15px;
}

.progress_line {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #787cb5;
  box-shadow: -1px -1px 2px #222222,
               1px 1px 2px #111111;
  border-radius: 15px;
}

.progress_line::after {
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0px;
  transform: translateX(-50%);
  color: #aaabb0;
  font-size: 17px;
}

/* #endregion About Page */

/* #region Skills Page */
  .timeline {
    position: relative;
    min-width: 1200px;
    margin: 100px auto;
  }

  .container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: rgba(0, 0, 0, 0.3);
  }
  .text-box {
    padding: 20px 30px;
    color: black;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
  }
  

/* #endregion Skills Page */


/* #region Index Media Query */
@media only screen and (max-width:1064px){
  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar {
    display: flex;
    justify-content: center;
    gap: clamp(1.00rem, calc(0.65rem + 1.74vw), 2.00rem);
  }

  .navbar a {
    margin-left: unset;
  }

  .home {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .home-sci {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .home-img {
    margin-top: 2rem;
  }
}

@media (max-width: 767px) {
  .home-content h3 {
    font-size: 27px;
  }
}

@media (max-width: 400px) {
  .home-content h3 {
    font-size: 23px;
    margin-top: 18px;
  }
}

/* Portrait mode */
@media only screen and (min-device-width: 428px) and (max-device-width: 414px) and (orientation: portrait) {
  .home-content h3 {
    font-size: 23px;
    margin-top: 18px;
}


/* #endregion Media Query */

/* #region About Media Query */
@media(max-width: 1068px) {
  .about_container .about_content {
    grid-template-areas: 'imageSect skillSect'
                         'infoSect infoSect';
  }
  .skillSection {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
@media(max-width: 868px) {
  .about_container .about_content {
    grid-template-areas: 'imageSect imageSect'
                          'infoSect infoSect'
                          'skillSect skillSect';
  }

}
@media (max-width= 668px) {
  .personalInfo {
    grid-template-columns: 1fr;
  }
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {  
  
  .about_content {
    flex-direction: column;
  }
  
  .imageSection,
  .infoSection,
  .skillSection {
    width: 100%;
  }
  
  .personalInfo div {
    display: block;
    margin-bottom: 10px;
  }
  
  .button {
    text-align: center;
  }
  
  .progress_line {
    animation: none;
  }
}

/* CSS code after media query */



/* #endregion About Media Query */

/* #region KEYFRAMES ANIMATION */
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes circleRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* #endregion KEYFRAMES ANIMATION */
